<div *ngFor="let item of [].constructor( count ); let i = index">
    <div class="block_wrap">
        <div class="block">
            <div class="block_img">
                <p-skeleton [height]="skeletonHeightImage" width="100%"></p-skeleton>
            </div>
            <div class="block_text">
                <h3 class="name" style="padding: 5px;"> <p-skeleton height="1vmin" width="95%"></p-skeleton></h3>
                <p class="namber" style="padding: 5px;"> <p-skeleton height="1vmin" width="50%"></p-skeleton></p>
                <div class="link" style="padding: 5px;">
                    <p-skeleton height="1vmin" width="60%"></p-skeleton>
                </div>
            </div>
        </div>
    </div>
    <div>