<footer class="footer">
    <div class="content">
        <div class="footer_line">
            <div class="left">
                <div class="logo_line">
                    <a href="index.html" class="logo"><img src="./assets/img/logo_f.svg" alt=""></a>
                    <a href="#" class="button">Поделиться</a>
                </div>
                <div class="info">
                    <p>
                        Insecta.pro: международный энтомологический портал.
                    </p>
                    <p><a href="#">Условия использования и публикации материалов.</a></p>
                    <p>
                        Спасибо всем авторам, публикующим свои материалы на сайте.
                    </p>

                </div>
                <p class="copir">© Каталог насекомых мира Insecta.pro, 2007—2023.</p>
            </div>
            <div class="right">
                <nav class="nav">
                    <ul>
                        <li routerLink="/catalog"><a>Каталог</a></li>
                        <li routerLink="/gallery"><a>Галерея</a></li>
                        <li routerLink="/classification"><a>Классификация</a></li>
                        <li routerLink="/literature"><a>Литература</a></li>
                        <li routerLink="/maps"><a>Карты</a></li>
                        <li routerLink="/forum"><a>Форум</a></li>
                        <li class="parent visible_xs"><a>Еще</a>

                    </ul>
                </nav>
                <div class="flex_line">
                    <ul>
                        <li>
                            <h3>Редактор и администратор проекта:</h3>
                        </li>
                        <li>
                            <p>Петр Храмов</p>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <h3>Модераторы:</h3>
                        </li>
                        <li>
                            <p>Василий Феоктистов</p>
                        </li>
                        <li>
                            <p>Дмитрий Пожогин</p>
                        </li>
                        <li>
                            <p>Александр Жаков</p>
                        </li>
                        <li>
                            <p>Евгений Комаров </p>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <h3>Кураторы:</h3>
                        </li>
                        <li>
                            <p>Василий Феоктистов</p>
                        </li>
                        <li>
                            <p>Константин Ефетов</p>
                        </li>
                        <li>
                            <p>Александр Жаков </p>
                        </li>
                        <li>
                            <p>Евгений Комаров</p>
                        </li>
                        <li>
                            <p>Станислав Корб</p>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <h3>Контакты</h3>
                        </li>
                        <li><a href="tel:8(800)7756095">8-800 775-60-95</a></li>
                        <a href="mailto:asinsecta@gmail.com">asinsecta.gmail.com</a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <p-scrollTop styleClass="scrool-top" [threshold]="400" icon="pi scrool-top-icon"></p-scrollTop>
</footer>